/*
  STYLING VOCABULARY
*/

.vocabulary-container {
  grid-column: 3;
}

.add-new.add-term {
  padding: 0.2rem 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.vocabulary-term-container {
  border: 1px solid #000;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.vocabulary-utils {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.vocabulary-utils input[type="text"] {
  padding: 0.2rem 0.5rem;
  border: none;
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.vocabulary-utils .search-term {
  width: 60%;
  display: inline-flex;
  margin-bottom: 1rem;
}

.search-term i {
  margin: auto 0;
  padding: 0 0.5rem;
}
