/*
  STYLING NAVIGATION LINKS
*/

nav {
  margin-left: 3rem;
}

nav, .nav-notebook-container {
  display: inline-flex;
  height: 3rem;
  text-align: center;
  align-items: center;
}

.nav-link {
  margin: 0 1.5rem;
  padding: 0 0.5rem;
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  color: gray;
}

.add-sign.link:hover {
  color: #000;
}

.add-sign.link:hover {
  color: gray;
}

.add-sign .fa-plus {
  margin-left: 0.4rem;
}

.add-sign:hover .fa-plus {
  color: #B46C00;
}
