/*
  STYLING  EMPTY DASHBOARD
*/

.dashboard-add-notebook-container {
  margin: 10rem 0;
  padding: 0 10rem;
  text-align: center;
  align-items: center;
  font-size: 1.1rem;
}

.dashboard-add-notebook {
  color: #FFF;
  background-color: #E18700;
  font-size: 1.2rem;
  border: 1px solid #E18700;
  border-radius: 0.3rem;
  text-align: center;
  margin: 4rem 0;
  padding: 1rem 2rem;
}

.dashboard-add-notebook:hover {
  cursor: pointer;
}
