/*
  STYLING MODAL CONTAINER
*/

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

/*
  STYLING MODAL CONTENT
*/

.modal-content {
  border-radius: 0.3rem;
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

/*
  CLOSE WINDOW BUTTON
*/

.close-window-new-lessson {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.2rem 0;
  right: 1rem;
  cursor: pointer;
  border: none;
}

.close-window-new-lessson:hover {
  color: red;
}
