/*
  STYLING DOCUMENT
*/

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* LINK ELEMENT STYLE */

.link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* TEXT COLOR AND BACKGROUND COLOR */

.orange-text {
  color: #E18700;
}

.white-text {
  color: #FFF;
}

.orange-border {
  border: 1px solid #E18700;
  border-radius: 0.3rem;
}

.orange-background {
  background-color: #E18700;
}

.orange-background.link:hover {
  background-color: #B46C00;
}

.white-background {
  background-color: #FFF;
}
