/*
  STYLING FOOTER
*/

footer {
  display: block;
  padding: 1rem 6rem;
  height: 3rem;
  font-size: 1rem;
}

.footer-logo-container, .footer-copyright, .footer-social {
  display: inline-block;
}

.footer-copyright {
  padding-left: 2rem;
}

.footer-social {
  display: inline-flex;
  position: absolute;
  right: 6rem;
}

.footer-social-link {
  text-decoration: none;
  color: #000;
  padding-left: 1.5rem;
  padding-top: 0.1rem;
}

.footer-social-link:hover {
  cursor: pointer;
  color: gray;
}
