/*
  STYLING HOME
*/

main {
  margin-top: 0;
}

/*
  STYLING STARTER SECTION
*/

.starter-container {
  background-image: url("../../images/pexels-nastyasensei-335393.jpg");
  height: 42rem;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starter {
  position: absolute;
  border-radius: 0.3rem;
  top: 7rem;
  left: 4rem;
  max-width: 50%;
  padding: 1rem 2rem 4rem 2rem;
}

.starter p {
  margin-bottom: 3rem;
}

.starter-button {
  font-size: 1.3rem;
  border: 1px solid #E18700;
  border-radius: 0.3rem;
  text-align: center;
  padding: 1rem 2rem;
  cursor: pointer;
}

.starter-button:hover {
  background-color: #B46C00;
}

/*
  STYLING FEATURES SECTION
*/

.features {
  min-height: 40rem;
  padding: 0 10rem;
}

.features-title {
  padding: 4rem 0 2rem 0;
}

.features-wrapper {
  display: grid;
  justify-items: center;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 1.5rem;
}

.top-row {
  grid-row: 1;
}

.bottom-row {
  grid-row: 2;
}

.first-column {
  grid-column: 1 / 2;
}

.second-column {
  grid-column: 2 / 3;
}

.third-column {
  grid-column: 3 / 4;
}

.fourth-column {
  grid-column: 4 / 5;
}

.feature-item {
  display: inline-block;
}

.feature-icon {
  width: 20%;
}

.feature-text {
  width: 80%;
}
