/*
  STYLING VOCABULARY TERM PREVIEW
*/

.term-content, .vocabulary-tools {
  display: inline-block;
}

.term-content h3 {
  margin: 0;
  font-size: 1.1rem;
}

.vocabulary-tools {
  float: right;
  height: 1.5rem;
}

.vocabulary-tools i {
  cursor: pointer;
}

.vocabulary-tools i:hover {
  color: gray;
}

.term-edit-icon-container, .term-delete-icon-container {
  display: inline-flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  position: relative;
}

.term-hover-text {
  display: none;
  position: absolute;
  bottom: 120%;
  right: 50%;
  transform: translateX(50%);
  background-color: gray;
  font-size: 0.8rem;
  color: #fff;
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
}

.term-hover-text:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  border-top-color: #747474;
}

.term-edit-icon-container:hover .term-hover-text,
.term-delete-icon-container:hover .term-hover-text {
  display: block;
}

.term-definition p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 0.9rem;
}
