/*
  STYLING LESSONS PREVIEW
*/

.lesson {
  border: 1px solid #000;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

.lesson-tools i {
  cursor: pointer;
}

.lesson-tools i:hover {
  color: gray;
}

.lesson-title, .lesson-tools {
  display: inline-block;
}

.lesson-title h3 {
  margin: 18px 0;
  height: 1.5rem;
}

.lesson-tools {
  float: right;
  margin: 18px 0;
  padding: 0 1rem;
  height: 1.5rem;
  display: inline-flex;
}

.edit-icon-container, .delete-icon-container {
  position: relative;
  padding: 0 1rem;
}

.hover-text {
  display: none;
  position: absolute;
  bottom: 110%;
  right: 50%;
  transform: translateX(50%);
  background-color: gray;
  font-size: 0.8rem;
  color: #fff;
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
}

.edit-icon-container:hover .hover-text,
.delete-icon-container:hover .hover-text {
  display: block;
}
