/*
  STYLING LESSONS PREVIEW
*/

.lesson {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0rem 1rem 1rem 1rem;
}

.lesson-tools i {
  cursor: pointer;
}

.lesson-tools i:hover {
  color: gray;
}

.lesson-title, .lesson-tools {
  display: inline-block;
}

.lesson-title h3 {
  margin: 18px 0;
  height: 1.5rem;
}

.lesson-tools {
  float: right;
  margin: 18px 0;
  padding: 0 1rem;
  height: 1.5rem;
  display: inline-flex;
}

.lesson-description p {
  margin-top: 0;
}

.edit-icon-container, .delete-icon-container {
  position: relative;
  padding: 0 1rem;
}

.lesson-hover-text {
  display: none;
  position: absolute;
  bottom: 120%;
  right: 50%;
  transform: translateX(50%);
  background-color: #747474;
  font-size: 0.8rem;
  color: #fff;
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
}

.lesson-hover-text:before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px;
  border-color: transparent;
  border-top-color: #747474;
}

.edit-icon-container:hover .lesson-hover-text,
.delete-icon-container:hover .lesson-hover-text {
  display: block;
}
